.container{
    width: 960px;

    border: 1px solid;
}
h1{
    background-color: rgb(187, 219, 255);
color: rgb(11, 37, 164);
}
h5{
    font-size: 15px;
    color: rgb(67, 174, 138);
}
footer{
    width: 100%;
    height: 60px;
    background-color: rgb(187, 219, 255);
}
span{
    color: red;
}
.them{
    margin-left: 20px;
    background-color: rgb(26, 147, 106);
    color: white;
    
}
#duoi{
    padding-bottom: 20px;
}
.dong{
    background-color: rgb(26, 147, 106);
    color: white;
    
}
.btn-pink {
  background: #ff69b4 !important;
  color: #fff !important;
  border: none;
}
.btn-pink:hover {
  background: #e055a1 !important;
}